@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}